        .hero {
            background: url('../images/banner-bg.jpg');
            background-size: cover;
            background-position: center;
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            color: var(--white);
            margin-top: 70px;
        }

        .hero-content {
            max-width: 500px;
            padding: 0 20px;

            h1 {
                color: var(--color-blue);
                font-size: 3.5rem;
                margin-bottom: 20px;
                line-height: 1.2;
            }

            p {
                color: gray;
                font-size: 1.2rem;
                margin-bottom: 30px;
                opacity: 0.9;
            }
        }

        @media (max-width:768px) {
            .hero {
                flex-direction: column-reverse;
            }

            .hero-content {
                width: 100%;
            }
        }

        .hero-btns {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 30px;
        }

        .hero-img-container {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 0px 20px rgb(255, 255, 255);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
                scale: 1;
            }
        }