.features {
    width: 90vw;
    margin: auto;
}

@media (max-width:1024px) {
    .features {
        width: 100%;
    }
}
.features-head {
    padding: 0px 24px;
}

.features-head>h1 {
    line-height: 65px;
    font-size: 4rem;
}

.features-head>span {
    font-size: 16px;
    color: var(--light-text);
    text-transform: uppercase;
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    img {
        width: 40vw;
    }
}

.features-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 40%;

    .feature-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .img {
            width: 60px;
            height: 60px;
            background-color: var(--blue-dark);
            border-radius: 8px;

            span {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: var(--blue-dark);
            }
        }

    }
}