        /* Reset and Base Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: var(--text-color);
            overflow-x: hidden;
        }

        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        :root {
            --blue-dark: oklch(54.6% 0.245 262.881);
            --purple: oklch(55.8% 0.288 302.321);
            --blue-light: #c0d8f0;
            --accent-color: #e74c3c;
            --text-color: #333;
            --light-text: #666;
            --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            --transition: all 0.3s ease;
            --gradient: linear-gradient(to right, var(--blue-dark), var(--purple));
        }

        button {
            border: none;
        }

        .p-lg {
            font-size: 17px;
            color: var(--light-text);
        }

        .p-sm {
            font-size: 15px;
            color: var(--light-text);
        }

        @media (max-width:600px) {
            .p-lg {
                line-height: 23px;
            }

            .p-sm {
                line-height: 20px;
            }
        }

        .highlight {
            color: var(--blue-dark);
        }

        h1,
        h2 {
            color: blue;
        }

        .heading-section-main {
            margin: 0;
            color: var(--blue-dark);
            font-size: 4rem;
        }

        .button-blue {
            margin: auto;
            background-color: var(--blue-dark);
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            padding: 12px 30px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: normal;
            transition: var(--transition);
            border: none;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #1a3d7a;
                transform: translateY(-2px);
                box-shadow: var(--shadow);
            }

        }

        section {
            padding: 80px 0;


        }

        .section-title {
            text-align: center;
            margin-bottom: 50px;
        }

        .section-title h2 {
            font-size: 2.5rem;
            color: var(--primary-color);
            margin-bottom: 15px;
        }

        .section-title p {
            color: var(--light-text);
            font-size: 1.1rem;
            max-width: 600px;
            margin: 0 auto;
        }